{% extends "redovisning/base_site.html" %}

{% block title %} Redovisning {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Lista möten</h3>
        <h3><a href="{% url 'redovisning:addmeeting'%}" class="btn btn-primary btn-lg btn-block btn-huge">Redovisa möten för året</a></h3>
      </div>


      <div class="clearfix"></div>

      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Lista möten</h2>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">




              <table class="table">
                <thead>
                  <tr>
                    <th>Antal möten</th>
                    <th>Årsmöte</th>
                    <th>År</th>
                  </tr>
                </thead>
                <tbody>
                  {% for object in meeting_list %}
                  <tr>
                    <th scope="row"><a href="{% url 'redovisning:editmeeting' object.meeting_id %}">{{ object.no_of_meetings }}</a></th>
                    <td><a href="">{{ object.annual_meeting_date }}</a></td>
                    <td><a href="">{{ object.year }}</a></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>




            </div>
          </div>
        </div>
      </div>



    </div>
  </div>
</div>














            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
{% endblock javascripts %}
